@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-body: #f4f4f0;
}

body {
  background-color: var(--bg-body);
}

/* Buttons */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 0.75rem 1.25rem;
}
.btn-primary {
  background-color: #ff90e8;
  color: #000000;
}
.btn-secondary-b {
  background-color: #000000;
  color: #ffffff;
}
.btn-secondary-g {
  background-color: #f4f4f0;
  color: #000000;
}
.btn-secondary-w {
  background-color: #ffffff;
  color: #000000;
}
.btn.btn-flush {
  border: none;
  border-radius: 0;
  padding: 0;
}
.btn.btn-flush + .btn.btn-flush {
  border-left: 1px solid black;
}

/* Misc */
.hide-scroll::-webkit-scrollbar {
  display: none;
}

.clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.overflow-fade {
  position: relative;
}

.overflow-fade::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #f4f4f0);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
